<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>ntno</title>

<!-- <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" type="text/css"/> -->
<link rel="stylesheet" href="/public/css/terminal.css" type="text/css"/>
<link rel="stylesheet" href="/public/css/normalize.css" type="text/css"/>
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="/public/favicon/android-chrome-192x192.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="512x512"
  href="/public/favicon/android-chrome-512x512.png"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/public/favicon/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="48x48"
  href="/public/favicon/favicon.ico"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/public/favicon/favicon-16x16.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/public/favicon/favicon-32x32.png"
/>

<style>
    body    { padding-top:50px; }
</style>
