<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Super Awesome</title>

<link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" />
<!-- <link rel="stylesheet" href="/css/normalize.css" /> -->

<style>
    body    { padding-top:50px; }
</style>
