<!-- views/partials/header.ejs -->

<div class="container">
    <div class="terminal-nav">
        <header class="terminal-logo">
            <div class="logo terminal-prompt"><a href="/" class="no-style">ntno</a></div>
        </header>
        <nav class="terminal-menu">
            <ul vocab="https://schema.org/" typeof="BreadcrumbList">
                <li><a href="/" class="menu-item<% if(page === "home") { %> active<% } %>"><span>Home</span></a>
                    <meta property="position">
                </li>
                <li property="itemListElement" typeof="ListItem"><a href="/about" property="item" typeof="WebPage"
                        class="menu-item<% if(page === "about") { %> active<% } %>"><span
                            property="name">About</span></a>
                    <meta property="position" content="1">
                </li>
            </ul>
        </nav>
    </div>
</div>