version: '3'
services:
  local_development_server:
    build: .
    restart: "no"
    ports:
      - "8080:8080"
    environment:
      LOG_LEVEL: info
      AWS_PROFILE: ntno
      AWS_SHARED_CREDENTIALS_FILE: /root/.aws/credentials
      AWS_SDK_LOAD_CONFIG: 1
      GITHUB_PERSONAL_USERNAME: $GITHUB_PERSONAL_USERNAME
      GITHUB_PERSONAL_TOKEN: $GITHUB_PERSONAL_TOKEN        
    volumes:
      - ~/.aws/:/root/.aws:ro    #ro for read only    
      - './:/usr/src/'
    entrypoint: [ "mkdocs", "serve", "-v", "--dev-addr=0.0.0.0:8080" ]
  ubuntu:
    platform: linux/amd64
    image: ntno/ubuntu-build-base:1.1.0
    restart: "no"    
    volumes:
      - ~/.aws/:/root/.aws:ro    #ro for read only
      - $PWD:/usr/src
    environment:
      AWS_PROFILE: ntno
      AWS_SHARED_CREDENTIALS_FILE: /root/.aws/credentials
      AWS_SDK_LOAD_CONFIG: 1
      GITHUB_PERSONAL_USERNAME: $GITHUB_PERSONAL_USERNAME
      GITHUB_PERSONAL_TOKEN: $GITHUB_PERSONAL_TOKEN        