<section>
    <header><h2 id="Cards">Cards</h2></header>
    <div class="terminal-card">
      <header>Card Title</header>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, quas
        ex vero enim in doloribus officiis ullam vel nam esse sapiente velit
        incidunt. Eaque quod et, aut maiores excepturi sint.
      </div>
    </div>
    <br />
  </section>

  <div class="image-grid">
    <a href="https://picsum.photos" style="border: none;"
      ><img
        src="https://picsum.photos/200/300?random&1"
        width="auto"
        height="auto"
        alt="random image"
    /></a>
    <a href="https://picsum.photos" style="border: none;"
      ><img
        src="https://picsum.photos/200/300?random&2"
        width="auto"
        height="auto"
        alt="random image"
    /></a>
    <a href="https://picsum.photos" style="border: none;"
      ><img
        src="https://picsum.photos/200/300?random&3"
        width="auto"
        height="auto"
        alt="random image"
    /></a>
    <a href="https://picsum.photos" style="border: none;"
      ><img
        src="https://picsum.photos/200/300?random&4"
        width="auto"
        height="auto"
        alt="random image"
    /></a>
    <a href="https://picsum.photos" style="border: none;"
      ><img
        src="https://picsum.photos/200/300?random&5"
        width="auto"
        height="auto"
        alt="random image"
    /></a>
    <a href="https://picsum.photos" style="border: none;"
      ><img
        src="https://picsum.photos/200/300?random&6"
        width="auto"
        height="auto"
        alt="random image"
    /></a>
    <a href="{{ card.index_url | url}}" title="{{ card.img_title }}" style="border: none;"
      ><img
        src="{{ card.img_src | url}}"
        width="auto"
        height="auto"
        alt="{{ card.img_alt }}"
    /></a>
  </div>


  <!-- <div class="terminal-card">
        <a class="btn btn-default btn-block" href="{{ card.index_url | url}}"><span>{{ card.card_title }}</span></a>
    <div>
        <figure>
            <a href="{{ card.index_url | url}}">
            <img src="{{ card.img_src }}" 
                alt="{{ card.img_alt }}" 
                title="{{ card.img_title }}" 
             >
            </a>
            <figcaption>{{ card.img_caption }}</figcaption>
        </figure>
    </div>
</div>
<br> -->

<section>
  <div class="image-grid">
  {%- for card in page.meta.index_cards %}
  <a href="{{ card.index_url | url}}" title="{{ card.card_title }}" style="border: none;"
  ><img
    src="{{ card.img_src | url}}"
    alt="{{ card.img_alt }}"
    style="width:200px;"
/></a>
  {%- endfor %}
  </div>
</section>
