<section>
    <header><h2 id="Cards">Cards</h2></header>
    <div class="terminal-card">
      <header>Card Title</header>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, quas
        ex vero enim in doloribus officiis ullam vel nam esse sapiente velit
        incidunt. Eaque quod et, aut maiores excepturi sint.
      </div>
    </div>
    <br />
  </section>

  <div class="image-grid">
    <a href="https://picsum.photos" style="border: none;"
      ><img
        src="https://picsum.photos/200/300?random&1"
        width="auto"
        height="auto"
        alt="random image"
    /></a>
    <a href="https://picsum.photos" style="border: none;"
      ><img
        src="https://picsum.photos/200/300?random&2"
        width="auto"
        height="auto"
        alt="random image"
    /></a>
    <a href="https://picsum.photos" style="border: none;"
      ><img
        src="https://picsum.photos/200/300?random&3"
        width="auto"
        height="auto"
        alt="random image"
    /></a>
    <a href="https://picsum.photos" style="border: none;"
      ><img
        src="https://picsum.photos/200/300?random&4"
        width="auto"
        height="auto"
        alt="random image"
    /></a>
    <a href="https://picsum.photos" style="border: none;"
      ><img
        src="https://picsum.photos/200/300?random&5"
        width="auto"
        height="auto"
        alt="random image"
    /></a>
    <a href="https://picsum.photos" style="border: none;"
      ><img
        src="https://picsum.photos/200/300?random&6"
        width="auto"
        height="auto"
        alt="random image"
    /></a>
    <a href="{{ card.index_url | url}}" title="{{ card.img_title }}" style="border: none;"
      ><img
        src="{{ card.img_src | url}}"
        width="auto"
        height="auto"
        alt="{{ card.img_alt }}"
    /></a>
  </div>