<!DOCTYPE html>
<html lang="en">

<head>
    {%- block site_meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex">
    {% if config.site_description %}<meta name="description" content="{{ config.site_description }}">{% endif %}
    {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
    {% if page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
    {% include "favicon.html" %}
    {%- endblock %}

    {%- block htmltitle %}
    <title>{% if page and page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
    {%- endblock %}

    {%- block styles %}
    <link href="{{ 'css/terminal.css' | url }}" rel="stylesheet">
    <link href="{{ 'css/normalize.css' | url }}" rel="stylesheet">
    <link href="{{ 'css/ntno.css' | url }}" rel="stylesheet">
    {%- endblock %}

</head>

<body class="terminal">
    {% if page and page.meta and page.meta.hide %}
        {% set hide_toc = "true" if "toc" in page.meta.hide %}
        {% set hide_nav = "true" if "navigation" in page.meta.hide %}
        {% set hide_side_nav = "true" if "side-navigation" in page.meta.hide %}
    {% endif %}

    {%- block site_nav %}
        {% if not hide_nav %}
            {% include "top-nav.html" %}
        {% endif %}
    {%- endblock %}
  
    <div class="container">
        <div class="main-grid">
            {% include "side-panel.html" %}
            <main>
                {%- block content %}
                {% include "content.html" %}
                {%- endblock %}
            </main>
        </div>
        <hr>
        {%- block footer %}
        {% include "footer.html" %}
        {%- endblock %}
    </div>
</body>
</html>