
<aside id="menu">
    {% if not hide_side_nav %}
    <nav>
        {% if nav|length>1 %}
        <ul>
            {% if page %}
                {% for nav_item in nav %}
                    {# HOME / ABOUT / RESUME / PROJECTS #}
                    {% if not nav_item.is_section %}
                    <li><a href="{{ nav_item.url|url }}">{{ nav_item.title}}</a></li>
                    {# SECOND LEVEL #}
                    {% else %}
                    <li>
                        <ul>
                        {% for second_level in nav_item.children %}
                            {# OPEN SOURCE #}
                            {% if not second_level.is_section %}
                            <ul><a href="{{ second_level.url|url }}">{{ second_level.title}}</a></ul>
                            {# ELECTRONICS / WOOD / ETC #}
                            {% else %}
                            <ul><a href="{{ second_level.title.lower() |url }}">{{ second_level.title}}</a>
                                {% for third_level in second_level.children %}
                                <li><a href="{{ third_level.url|url }}">{{ third_level.title}}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
        {% endif %}
    </nav>
    {% endif %}
    {% if not hide_toc %}
        {% include "side-toc.html" %}
    {% endif %}
</aside>

