
{% import 'nav-macro.html' as nav_macros with context%}

<aside id="menu">
    {% if not hide_side_nav %}
    <nav>
        {% if nav|length>1 %}
        <ul>
            {% if page %}
                {% for nav_item in nav %}
                    {# HOME / ABOUT / RESUME / PROJECTS #}
                    {% if not nav_item.is_section %}
                        {{ nav_macros.link_or_span(nav_item.title, nav_item.url, nav_item.active, "li") }}
                    {# SECOND LEVEL #}
                    {% else %}
                    <li>
                        <ul>
                        {% for second_level in nav_item.children %}
                            {# OPEN SOURCE #}
                            {% if not second_level.is_section %}
                                {{ nav_macros.link_or_span(second_level.title, second_level.url, second_level.active, "ul") }}
                            {# ELECTRONICS / WOOD / ETC #}
                            {% else %}
                                {{ nav_macros.link_or_span(second_level.title, second_level.title.lower(), second_level.active, "ul") }}
                                {% for third_level in second_level.children %}
                                    {{ nav_macros.link_or_span(third_level.title, third_level.url, third_level.active, "li") }}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
        {% endif %}
    </nav>
    {% endif %}
    {% if not hide_toc %}
        {% include "side-toc.html" %}
    {% endif %}
</aside>

