{%- if page and page.meta and page.meta.image_cards -%}
{% set show_cards = "true" if page.meta.image_cards is iterable and page.meta.image_cards|length > 0 %}
{%- endif -%}
{%- if show_cards -%}
<style>
    .index_card_img_panel {
        grid-area: photo;
    }
    .index_card_content_panel {
        grid-area: main;
    }
    .index_card_buffer_panel {
        grid-area: buffer;
    }
    .index_card_container {
        display: grid;
        grid-template-areas:
            'photo photo main main main buffer';
        grid-gap: 10px;
        grid-column-gap: 30px;
        padding: 0px;
    }
</style>
{%- for card in page.meta.image_cards %}
<div class="terminal-card">
    <a class="btn btn-default btn-block" href="{{ card.link_href | url}}"><span>{{card.title }}</span></a>
    <div class="index_card_container">
        <div class="index_card_img_panel">
            <figure>
                <a href="{{ card.link_href | url}}">
                    <img src="{{ card.img_src }}" alt="{{ card.title }}">
                </a>
                <figcaption>{{ card.caption | markup }}</figcaption>
            </figure>
        </div>
        <div class="index_card_content_panel">
            <p>{{ card.content | markup }}</p>
        </div>
        <div class="index_card_buffer_panel"></div>
    </div>
</div>
<br>
{%- endfor %}
{%- endif -%}