{%- if page and page.meta and page.meta.timeline -%}
{% set show_cards = "true" if page.meta.timeline is iterable and page.meta.timeline|length > 0 %}
{%- endif -%}
{%- if show_cards -%}
<section>
    <div class="terminal-timeline">
        {% for card in page.meta.timeline %}
        <div class="terminal-card">
            <header>{{ card.title | markup }}</header>
            <div>
                {{ card.content | markup }}
            </div>
        </div>
        {% endfor %}
    </div>
    <br />
</section>
{%- endif -%}