# Simple workflow for deploying mkdocs site 
name: Deploy MkDocs to Production Environment

env: 
  deploy-target: ntno.net
  deployment-url: https://ntno.net

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to deploy'
        required: true
        type: string
      enable-dry-run:
        description: '--dryrun sync to target'
        default: false
        required: true
        type: boolean
      enable-size-only-run:
        description: '--size-only sync to target'
        default: true
        required: true
        type: boolean
      enable-quiet-run:
        description: '--quiet sync to target'
        default: false
        required: true
        type: boolean

# These permissions are needed to interact with GitHub's OIDC Token endpoint.
permissions:
  id-token: write
  contents: read

jobs:
  report-inputs:
    runs-on: ubuntu-latest
    steps: 
      - name: Report Inputs
        run: |
          export MESSAGE="tag=${{ inputs.tag }}, enable-dry-run=${{ inputs.enable-dry-run }}, enable-size-only-run=${{ inputs.enable-size-only-run }}, enable-quiet-run=${{ inputs.enable-quiet-run }}"
          echo "::notice title=Worfklow Inputs::$MESSAGE"    
  check-out-tag:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.tag }}
  call-metadata-workflow:
    needs: [check-out-tag]
    uses: ./.github/workflows/meta.yml 
    secrets: inherit 
  build-mkdocs:
    needs: [check-out-tag, call-metadata-workflow]
    runs-on: ubuntu-latest
    environment: gh-ci
    steps: 
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.tag }}
      - name: Install Buildenv
        uses: ntno/setup-buildenv@v1     
      - name: Build MkDocs
        uses: ntno/build-mkdocs-composite-action@v7
        with:
          archive-enabled: true
          version: ${{ inputs.tag }}
          env-name: prod
          aws-region: us-east-2
          role-to-assume: ${{ secrets.ROLE_ARN }}
      - name: Report Result
        run: |
          export MESSAGE="${{ inputs.tag }} built with ${{ needs.call-metadata-workflow.outputs.build-tag }}"
          echo "::notice title=Built MkDocs::$MESSAGE"
  deploy-mkdocs:
    needs: [call-metadata-workflow, build-mkdocs]
    runs-on: ubuntu-latest
    environment: gh-prod
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.tag }}
      - name: Install Buildenv
        uses: ntno/setup-buildenv@v1
      - name: Set Vars
        id: set-vars
        run: |
          if [[ "${{ inputs.enable-dry-run }}" == "true" ]]; then
              export DRY_RUN="DRY_RUN=1"
          else
              export DRY_RUN="DRY_RUN=0"
          fi   
          if [[ "${{ inputs.enable-size-only-run }}" == "true" ]]; then
              export SIZE_ONLY_RUN="SIZE_ONLY_SYNC=1"
          else
              export SIZE_ONLY_RUN="SIZE_ONLY_SYNC=0"
          fi  
          if [[ "${{ inputs.enable-quiet-run }}" == "true" ]]; then
              export QUIET_RUN="QUIET=1"
          else
              export QUIET_RUN="QUIET=0"
          fi 
      
          echo "deploy-flags=${DRY_RUN} ${SIZE_ONLY_RUN} ${QUIET_RUN}" >> $GITHUB_OUTPUT 
      - name: Deploy MkDocs
        id: deploy-mkdocs
        uses: ntno/deploy-mkdocs-composite-action@v5
        with:         
          version: ${{ inputs.tag }}
          env-name: prod
          s3-bucket: ${{ env.deploy-target }}
          aws-region: us-east-2
          make-vars-for-deploy-target: ${{ steps.set-vars.outputs.deploy-flags }}
          role-to-assume: ${{ secrets.ROLE_ARN }}
      - name: Report Deploy Result
        run: |
          if [[ "${{ inputs.enable-dry-run }}" == "true" ]]; then
              export MESSAGE="Deploy is disabled for current workflow run, deployment skipped..."
              echo "::notice title=Deployment Skipped::$MESSAGE"
          else
              export MESSAGE="${{ inputs.tag }} deployed to ${{ env.deployment-url }} with ${{ needs.call-metadata-workflow.outputs.build-tag }}"        
              echo "::notice title=Deployment Complete::$MESSAGE"
          fi 
      - name: Invalidate CloudFront Cache
        run: |
          if [[ "${{ inputs.enable-dry-run }}" == "true" ]]; then
              export MESSAGE="Deploy is disabled for current workflow run, cache invalidate skipped..."
              echo "::notice title=Cache Invalidate Skipped::$MESSAGE"
          else
              make --no-print-directory invalidate-distribution env=prod region=us-east-2
              export MESSAGE="${{ env.deployment-url }} CloudFront cache invalidated"
              echo "::notice title=Cache Invalidate Complete::$MESSAGE"
          fi
